/*ESTILIZAÇÃO CARROSSEL - PÁGINA PRINCIPAL*/

html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 92%;
      margin: 0px auto;
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .line {
    background-color: #efabab;
  }

  .slick-slide {
    margin: 0px 0px 0px 0px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
      color: rgb(149, 62, 0);
  }
  
.slick-dots li button:before {
  font-size: 10px; 
}

  .slick-prev,
  .slick-next {
  left: 0;
  right: 0;
  }

  