* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* Cabeçalho */
header{
    position: sticky;
    top: 0%;
    right: 0;
    width: 100%;
    z-index: 9;
  }
  
  
  .itens-navegacao {
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }

  .logotipo {
    width: 190px;
    display: inline;
    vertical-align: super;
    float: left;
    margin-left: 58px;
    margin-top: 10px;
    position: absolute;
  }

  .itens-navegacao ul li {
    text-decoration: none;
    display: inline-block;
    margin-top: 4em;
    margin-left: -2px;
    font-size: 22px;
    font-family: 'Raleway';
    font-weight: 300;
    color: white;
    padding: 4px;
    background-color: #efabab;
    border-radius: 10px 10px 0px 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
  }
  .itens-navegacao ul li:hover {
    transform: scale(1.1);
    background-color: #e8c2c2;
    box-shadow: 0px -5px 0px #ffffff;
  }

    .rosa {
      background: rgba(255,240,235,255);
      padding: 0;
      overflow: hidden
    }
  
    .rosa-escuro {
      background: #ffd9cb;
      padding-top: 0.8em;
      margin: 0;
      overflow: hidden;
    }

    @media (max-width: 1000px){
    .itens-navegacao ul li {
      text-decoration: none;
      display: inline-block;
      margin-top: 6em;
      margin-left: -2px;
      font-size: 18px;
      font-family: 'Montreal', Arial; 
      font-weight: 300;
      color: white;
      padding: 4px;
      background-color: #efabab;
      border-radius: 10px 10px 0px 10px;
      transition: transform 0.2s ease-in-out;
    }

    .logotipo {
      width: 100px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      margin-left: 0;
    }
      }
    
    /*Fim cabeçalho */


body {
background: linear-gradient(90deg, #ffe4ff, #ffe8fd, #ffe3f9);
background-image: url(../Imagens/background.png);
}

form {
    margin: 10px;
    width: 40%;
    height: 100%;
    min-width: 350px;
    background-color: #ffcece23;
    border-radius: 5px;
    box-shadow: 0 15px 30px linear-gradient(90deg, #ffe4ff, #ffe8fd, #ffe3f9);
    margin: 100px auto;
}

input:not([type="checkbox"]), textarea, select{
    min-width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid linear-gradient(90deg, #ffe4ff, #ffe8fd, #ffe3f9);
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
}

textarea {
    height: 200px;
    padding-top: 10px;
}

button {
    display: block;
    margin: 20px auto;
    height: 40px;
    min-width: 320px;
    border: none;
    border-radius: 5px;
    background: #ecaed4;
    color: #fff;
    font-weight: bold;
}

button:hover {
    display: block;
    margin: 20px auto;
    height: 40px;
    min-width: 320px;
    border: none;
    border-radius: 5px;
    background: #eaa7d2;
}

h1 {
    text-align: center;
    font-family: raleway;
}

p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: left;
  font-family: 'Nunito', sans-serif;
}

.insercao-informacoes {
  padding-top: 25px;
  text-align: center;
}

label {
  font-family: 'Nunito', sans-serif;
  display: inline;
}

@media (max-width: 1440px) {
  input, textarea, select{
    min-width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid linear-gradient(90deg, #ffe4ff, #ffe8fd, #ffe3f9);
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
}
form {
  margin: 10px;
  width: 500px;
  height: 100%;
  min-width: 400px;
  border-radius: 5px;
  box-shadow: 0 15px 30px linear-gradient(90deg, #ffe4ff, #ffe8fd, #ffe3f9);
  margin: 100px auto;
}
}