@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
:root {
   --color: #ffd9cb;
   --bg-color: #efabab; 
}

  section#galeria {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #ffd9cb;
  }

